.order--container1{
    margin-top: 2rem;
   width: auto;
    margin-left: 5rem;
}
#vcvc{
    margin-bottom: 2rem;
    margin-left: -4rem;
}
.earn{
    display: flex;
    justify-content: space-around;
}