.pro--container23{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20rem;
}
.moin{
    padding-left: 5rem;
}
#head112{
        font-size: 1.9rem;
        margin-top: 2rem;
        margin-left: 4rem;
        margin-bottom: 3rem;
        font-weight: 600;
        /* border: 1px solid black; */
        width: max-content;
}